
<div class="devNodeParameter">
    @{var typeText = GetToolTip();}

    @if (DevGraphNodeParameter.IsOutput)
    {
        <div title="@typeText">@DevGraphNodeParameter.Name</div>
    }


    <div class="devParameterNode@(IsGenericType ? " genericParameterNode" : "")"  title="@typeText">
        <div class="devParameterNodeDraggable" draggable="true" @ondragstart="OnDragStart" @ondrag="OnDrag" @ondragend="OnDragEnd" @oncontextmenu="OnRightClick" @oncontextmenu:preventDefault  @oncontextmenu:stopPropagation>
        </div>
    </div>

    @if (DevGraphNodeParameter.IsInput)
    {
        <div title="@typeText">@DevGraphNodeParameter.Name</div>

        @if(IsBasicType && DevGraphNodeParameter.Connections.Count == 0) // we only add constant editors to parameters not connected to anything
        {
            <TextEdit Text="@ConstantValueStr" TextChanged="OnConstantValueChanged" ChangeTextOnKeyPress="false" Style="height: calc(1.5em + .75rem + -13px); margin-right: 6px; margin-left: 6px"></TextEdit>
        }
        
    }
</div>

