@if (GraphNodeSavedContent != null)
{
    <div class="devNode" style="width: @(GetWidth())px; left: @(GraphNodeSavedContent.Location.X)px; top: @(GraphNodeSavedContent.Location.Y)px">

        @*Name*@
        <div class="devTitle" draggable="true" @ondragend="OnDragEnd" @ondragstart="OnDragStart" @ondrag="OnDrag">
            @DevGraphNode.Name
        </div>

        @if(DevGraphNode.AmountOfDifferentVersions > 0)
        {
            <div class="devVersionSelection">

                <Button Clicked="DecreaseVersion">&lt;</Button>

                <span>@(DevGraphNode.Version + " / " + DevGraphNode.AmountOfDifferentVersions)</span>

                <Button Clicked="IncreaseVersion">&gt;</Button>
            </div>
        }

        <div class="devNodeBody">

            <div class="devNodeInputs">

                @foreach (var input in DevGraphNode.Inputs)
                {
                    <GraphNodeParameter ParentGraphNode="this" DevGraphNodeParameter="input"></GraphNodeParameter>
                }

            </div>


            <div class="devNodeOutputs">

                @foreach (var output in DevGraphNode.Outputs)
                {
                    <GraphNodeParameter ParentGraphNode="this" DevGraphNodeParameter="output"></GraphNodeParameter>
                }

            </div>

        </div>

    </div>
}
